body {
    font-family: 'Poppins', sans-serif;
    margin-left: 0%;
    margin-right: 0%;
}

.first-portion {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 100px;

}


.header-color {
    color: antiquewhite;
}


.donate-button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color: white;



}

.second-portion {
    text-align: center;
    margin-top: .5in;
}

.flexible {
    display: flex;
    margin-left: 3.8in;
    margin-right: 4in;
    margin-bottom: .5in;

}

.donate-ammount {
    font-size: 30px;

    background-color: antiquewhite;
    margin-right: 20px;
    padding: 5px 15px;
}

#color-ammount {
    color: red;
    background-image: linear-gradient(orange);
    border: 5px solid orangered;
}

.other-ammount {
    text-align: center;
    margin-bottom: .7in;
}

hr {
    margin-left: 4in;
    margin-right: 3.9in;
    margin-bottom: .5in;
}

.flexibleoptn {
    display: flex;
    margin-left: 1.5in;
    margin-right: 1.5in;
    margin-bottom: .5in;

}

.box-shaping {
    height: 3in;
    width: 3.4in;
    margin-right: 20px;
    box-shadow: 4px 4px 4px;
    padding: 10px 10px 10px 10px;
    font-size: small;
}

#boxblue {

    background-color: #d9eaf0;
}

#boxpink {
    background-color: hsl(351, 90%, 92%);
}

#boxyellow {
    background-color: rgb(241, 241, 163);
}

.footerstyle {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/49/A_black_image.jpg);
    margin-top: .5in;
    background-size: 100%;
    height: 1.5in;
    text-align: center;
    color: white;

}

#behumble {
    color: orangered;
    padding-top: .3in;
}

.bonus {
    display: flex;
    width: 70%;
    padding-bottom: .5in;
}

.volunteer1 {
    width: 30%;
    margin-left: 20px;
}

.volunteer2 {
    width: 30%;
    border-image-width: 3in;
    object-fit: contain;

}